.header {
  text-align: center;
}

.footer {
  text-align: center;
}

.home-container {
  text-align: center;
}

.tops-container {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#banner {
  width:1284px;
  height:400px;
  margin: 0px 0px 0px 0px;
}

.brand-grid {
  max-width: 1288px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* First row */
#makita {
  margin: 2px 1px 1px 0px;
}

#dewalt {
  margin: 2px 1px 1px 1px;
}

#hikoki {
  margin: 2px 1px 1px 1px;
}

#bosch {
  margin: 2px 0px 1px 1px;
}

/* Second row */
#bahco {
  margin: 0px 1px 0px 0px;
}

#metabo {
  margin: 0px 1px 0px 1px;
}

#stanley {
  margin: 0px 1px 0px 1px;
}

#evolution {
  margin: 0px 0px 0px 1px;
}

.top-sellers-page {
  background-color: lightgrey;
}

.top-sellers-title {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.product-link {
  color: black;
}

#header-home{
  font-size: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pagination {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0px;
}

.page-link  {
  color: black;
}
